.landingContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.inputsWrapper {
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 290px;
    background: #f9f9f9;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}
.container {
    width: 680px;
    height: 100%;
}
.inputContainer {
    height: 100%;
    flex: 1;
    padding: var(--padding--m);
}
.inputContainer:first-of-type {
    border-right: 1px solid silver;
}
.inputContainer form {
    width: 200px;
    display: flex;
}
.inputContainer input {
    margin-bottom: var(--padding--m);
    width: 100%;
    text-align: center;
    padding: var(--padding--xs);
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
}
.inputContainer input:focus {
    outline: none;
}
.userContainer {
    flex: 1;
}
.landingUserMenu {
    position: absolute;
    width: 200px;
    margin-top: -295px;
}
.gameTab {
    color: var(--text-color--light);
    cursor: pointer;
    padding: var(--padding--xxs) var(--padding--m);
    border-top: 2px solid transparent;
}
.gameTab:hover {
    color: var(--text-color--medium);
}
.gameTab.active {
    color: var(--text-color);
    border-top: var(--border--dark);
    border-top-width: 2px;
}
.matchButtonContainer {
    height: 100%;
    padding: var(--padding--l) 0;
}
.matchButtonContainer .button {
    width: 200px;
}

@media only screen and (max-width: 540px) {
    .container {
        flex-direction: column;
    }
    .inputsWrapper {
        height: auto;
        min-height: auto;
    }
    .inputContainer .button{
        margin: var(--padding--m) 0;
    }
    .inputContainer:first-of-type {
        border-right: none;
        border-bottom: 1px solid silver;
    }
    .userContainer {
        margin: 32px 32px 64px 32px;
    }
}
