.button {
    padding: var(--padding--xs) var(--padding--m);
    border: 1px solid black;
    border-radius: 4px;
    font-weight: var(--font-weight--normal);
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

.button em {
    margin-right: var(--padding--xs);
}

.button.black {
    background: black;
    color: white;
}
.button.red {
    color: red;
}
.button:hover {
    border-color: rgba(0, 0, 0, .2);
}
.button.black:hover {
    border-color: black;
    border-width: 1px;
    background: transparent;
    color: black;
}
.button.text {
    border: none;
    padding: var(--padding--xs) 0;
}
