.button {
    padding: var(--padding--xs) var(--padding--m);
    border: var(--border--dark);
    border-radius: 4px;
    font-weight: var(--font-weight--normal);
    cursor: pointer;
    transition: all ease-in-out 300ms;
    white-space: nowrap;
}

.button em {
    margin-right: var(--padding--xs);
    font-size: 21px;
}

.button.black {
    background: vaR(--bg-color--contrast);
    color: var(--text-color--contrast);
}
.button.red {
    color: red;
}
.button.blue {
    color: #18a0fb;
    font-weight: var(--font-weight--lighter);
}
.button:hover {
    border-color: var(--border--light);
}
.button.black:hover {
    border-color: var(--bg-color--contrast);
    border-width: 1px;
    background: transparent;
    color: var(--text-color);
}
.button.text {
    border: none;
    padding: var(--padding--xs) 0;
}
