.tabItem {
    padding: var(--padding--xs) var(--padding--m);
    font-weight: var(--font-weight--normal);
    cursor: pointer;
    transition: all ease-in-out 300ms;
    color: var(--text-color--light);
    position: relative;
}

.tabItem em {
    margin-bottom: var(--padding--s);
    font-size: 21px;
    padding: var(--padding--xs);
    border-radius: 100%;
    background: var(--bg-color);
    z-index: 2;
}

.tabItem.active {
    color: var(--text-color);
}

.tabItem.active em {
    background: var(--active-color);
    color: var(--gradient-color--contrast);
}

.stepConnector {
    top: 27px;
    left: calc(-50% + 10px);
    right: calc(50% + 10px);
    position: absolute;
}
.stepConnector-line {
    display: block;
    border-color: #ececec;
}
.stepConnector-horizontal {
    border-top-style: solid;
    border-top-width: 1px;
}

@media only screen and (max-width: 540px) {
    .tabItem {
        padding: 0;
        font-size: var(--font-size--s)
    }
    .stepConnector {
        top: 18px;
        left: -100%;
        right: 50%;
    }
    .tabItem em {
        background: var(--bg-color--secondary);
        z-index: 2;
    }
}
