
.Header {
    display: flex;
    flex: 1;
    align-items: center;
    white-space: nowrap;
}
.Header.small {
    flex: none;
    box-shadow: var(--shadow--tiny);
    background: var(--bg-color--secondary);
    border-bottom: var(--border--light);
}
.HiddenLoginButton {
    display: none!important;
}
.Header .headerContainer {
    flex: 1;
    padding: var(--padding--xs) var(--padding--m);
}
.Header .logo {
    font-size: 43px;
    padding: var(--padding--xs) var(--padding--l);
    background: var(--gradient-color--light);
    color: var(--text-color--contrast);
    border-radius: 10px;
    margin-right: var(--padding--m);
    margin-top: -11px;
}
.Header.small .logo {
    font-size: 24px;
    padding: var(--padding--xxs) var(--padding--s);
    cursor: pointer;
    border-radius: 4px;
    margin-top: 0;
}
.Header h1 {
    margin: 0;
    background: var(--gradient-color--light);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 19px;
}
.Header h1 .logo {
    font-size: var(--font-size--xxxl);
}
.Header .topBarMenu {
    position: fixed;
    top: 44px;
    right: var(--padding--m);
}

@media only screen and (max-width: 540px) {
    .Header h1 {
        display: none;
    }
    .Header .logo {
        margin-right: 0;
    }
}
