
.Header {
    display: flex;
    flex: 1;
    align-items: center;
    white-space: nowrap;
}
.Header.small {
    flex: none;
    box-shadow: var(--shadow--tiny);
}
.HiddenLoginButton {
    display: none!important;
}
.Header .row {
    flex: 1;
    padding: var(--padding--xs) var(--padding--m);
}
.Header .logo {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Header.small .logo {
    font-size: 34px;
    cursor: pointer;
}
.Header h1 {
    margin: 0;
    background: var(--gradient-color);
    background-size: 300%;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Header h1 .logo {
    font-size: var(--font-size--xxxl);
}
.Header .topBarMenu {
    position: fixed;
    top: 44px;
    right: var(--padding--m);
}

@media only screen and (max-width: 740px) {
    .Header h1 {
        font-size: 100px;
    }
    .Header h1 em {
        font-size: 100px;
    }
}
@media only screen and (max-width: 540px) {
    .Header h1 span {
        display: none;
    }
}
