.AvatarContainer {
    background: linear-gradient(-60deg, #904e05, #e73c7e, #ee7752);
    padding: var(--padding--xxs);
    border-radius: 100%;
}
.Avatar {
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
}
.Avatar img {
    border-radius: 100%;
}

.AvatarContainer.big {
    height: 90px;
    width: 90px;
}
.AvatarContainer.small {
    height: 30px;
    width: 30px;
    padding: var(--padding--xxxs);
}
.AvatarContainer.small img {
    width: 30px;
    height: 30px;
}
