.configuratorContainer {
    box-shadow: var(--shadow--small);
    backdrop-filter: var(--backdrop);
    position: fixed;
    padding: var(--padding--m);
    background: #fffffff7;
    border-radius: 4px;
}
.configuratorContainer h2 {
    margin-top: 0;
    margin-bottom: var(--padding--m);
    color: var(--gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.linkColumn {
    padding-right: var(--padding--m);
}
.friendsColumn {
    margin-top: var(--padding--m);
}
.bottomButtons {
    margin-top: var(--padding--m);
}
.bottomButtons .playButton {
    margin-left: var(--padding--m);
}
