body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--font-size--m);
    color: var(--text-color);
}

ul {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1 {
    font-size: var(--font-size--xxxl);
}

h3 {
    font-weight: var(--font-weight--bold);
    margin-top: 0;
}
.caption {
    font-style: italic;
    opacity: .7;
    padding-top: var(--padding--xxs);
}

:root {
    --gradient-color: linear-gradient(-60deg, #904e95, #904e05, #e73c7e, #ee7752);
    --gradient-color--light: linear-gradient(-60deg, #e73c7e, #ee7752);
    --gradient-color--contrast: white;
    --bg-color: white;
    --text-color: rgba(0,0,0,.8);
    --text-color--light: rgba(0,0,0,.35);
}

:root {
    --border: 1px solid #d6d2d2;
    --border--light: 1px solid #f3f3f3;
}

:root {
    --padding--xxs: 4px;
    --padding--xs: 8px;
    --padding--s: 12px;
    --padding--m: 24px;
    --padding--l: 32px;
    --padding--xl: 48px;
    --padding--xxl: 64px;
    --padding--xxxl: 86px;
}

:root {
    --font-size--xxs: 6px;
    --font-size--xs: 8px;
    --font-size--s: 10px;
    --font-size--m: 12px;
    --font-size--l: 14px;
    --font-size--xl: 16px;
    --font-size--xxl: 18px;
    --font-size--xxxl: 140px;
    --font-size--xxxxl: 350px;
    --font-size--big-icon: 30px;
}

:root {
    --font-weight--lighter: lighter;
    --font-weight--normal: normal;
    --font-weight--bold: 500;
    --font-weight--bolder: bolder;
}

:root {
    --shadow--small: 0 5px 10px rgba(0,0,0,0.12);
}

:root {
    --backdrop: saturate(180%) blur(5px);
}
