.menuContainer {
    backdrop-filter: var(--backdrop);
    background: var(--bg-color--translucid);
    box-shadow: var(--shadow--small);
    padding: var(--padding--m) 0;
}
.menuContainer h3 {
    text-transform: uppercase;
    cursor: default;
    padding: 0 var(--padding--m) var(--padding--m);
    font-size: var(--font-size--m);
    border-bottom: var(--border);
}
.menuContainer h3 em {
    cursor: pointer;
    margin-right: var(--padding--xs)
}
.menuContainer em {
    font-size: var(--font-size--xl);
}
.menuContainer .button, .menuContainer .theme {
    padding: var(--padding--s) var(--padding--m);
}
.menuContainer .button:hover {
    background: var(--bg-color--secondary);
}

